@model IEnumerable<STD_Course_Management.Models.Course>
@using STD_Course_Management.Utilities
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-info" asp-action="Create">Create New</a>
    <a class="btn btn-outline-info" asp-action="RegCourse">Course Registration</a>
    <a class="btn btn-outline-info" asp-action="Selected_Course">Selected Course</a>
</p>
<form asp-action="Index" method="post" enctype="multipart/form-data">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Course Code
                </th>
                <th>
                    Course Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Credit)
                </th>
                <th>
                    Department
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Semester)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teacher)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course_code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Credit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dept.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Semester.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Teacher.Name)
                    </td>
                    <td>
                        @{
                            bool incourse = false;
                            List<int> iscourse = HttpContextAccessor.HttpContext.Session.Get<List<int>>("crsRegisterd");
                            if (iscourse != null && iscourse.Contains(item.Id))
                            {
                                incourse = true;

                            }
                        }

                        @if (incourse)
                        {
                            <button type="submit" value="Remove Course" asp-controller="RegisterdCourse" asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger form-control">Remove</button>

                        }
                        else
                        {
                            <button type="submit" value="Add Course" asp-route-id="@item.Id" class="btn btn-primary form-control">Add</button>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>